body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:16px;
}

#nav-bar {
	height:55px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#008798;
}

/* ------------- index.html ------------- */
h1 {margin-bottom:0;}
h5 {margin-top:0;}

#nav-bar h2 {
	margin:0;
	padding:0;
}

#home-content {
	width:100%;
	text-align:center;
}

#home-content a {
	width:49%;
	margin:0.5% 0;
}

a.setting-button {
	padding:14px;
	margin:0;
	position:fixed;
	top:0px;
	right:0px;
}


/* ------------- quickSelect.html ------------- */

.title-bar {
	position:absolute;
	height:40px;
	width:100%;
	top: 55px;
	left: 0px;
	background-color:#D0D9D1;
}

#nav-bar-radio label {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:25px;
}

.clearDiv {
	clear:both;

}

.box-shadow {
	box-shadow: 0 0 10px #888;
}