body, .ui-button{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:18px;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
	font-family: 'Roboto Condensed', sans-serif;
}

.form-dialog {
	padding:10px 20px;
}

#nav-bar {
	height:59px;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#008798;
}

.clearDiv {
	clear:both;
}

.box-shadow {
	box-shadow: 0 0 10px #888;
}

/* ------------- index.html ------------- */
h1 {margin-bottom:0;}
h5 {margin-top:0;}

#app-name {
	text-align:center;
}
/* ------------- quickSelect.html ------------- */

#content-php{
	text-align:center;
}

.title-bar, .title-bar-php {
	position:relative;
	height:50px;
	width:100%;
	top: 40px;
	left: 0px;
	background-color:#D0D9D1;
	text-align:center;
	font-size: 24px;
}

.title-bar-php {
	top: 0px;
}

.title-bar p, .title-bar-php p {
	padding-top:10px;
}

#nav-bar-radio label {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:26px;
}

a.split-button .ui-btn-inner span.ui-btn .ui-btn-inner{
	padding:0px;
	margin-left:-1px;
	padding-top:2px;
}

li.ui-btn div.ui-li-has-alt {
	padding:0px;
}

.ui-collapsible-headding li.ui-btn .ui-btn-inner .ui-btn-text a.ui-link-inherit {
	padding:5px;
}

.input-form, .input-form-php {
	position:relative;
	top:40px;
	margin-top:5%;
	width:90%;
	margin-left:5%;
}

.input-form-php {
	top:0px;
	margin-top:0px;
}

.items-form {
	margin-top:5%;
}

.extra-form {
	padding-top:10%;
	font-size:20px;
}

.extra-form label {
	padding: 5px;
}

.add-button, .label  {
	float:left;
	width:15%;
}

.label-button {
	float:right;
	width:85%;
}

.list {
	float:left;
	width:80%;
	margin-left: 20%;
	display:none;
}

.invoice-button {
	margin-top:5%;
	float:right;
}

ul 
{
	list-style-type:none;
	margin-left:-50px;
}

li {
    display: block;
    text-align:left;
    padding:5px;
}

li:hover {
    background: #D0D3AB;
}

.newSelector {
	border-bottom: 2px solid #008798;
}

.icon-button, .link-button {
	font-size:14px;
	background:#D0D3AB;
}

.dialog-input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:12px;
	padding:5px;
	width:95%;
	margin-bottom: 10px;
	margin-top:5px; 
}

.extra-form input {
	font-family: 'Roboto Condensed', sans-serif;
	font-size:14px;
	padding:3px;
}

.ui-dialog, .ui-dialog button, .ui-dialog input{
	font-size:95%;
	font-family: 'Roboto Condensed', sans-serif;
}

.small-info-text
{
	font-size:12px;
}

input.checkbox
{
	margin-right:15px;
}

.invoice-bar
{
	position:relative;
	height:50px;
	width:100%;
	top: 50px;
	left: 0px;
	text-align:center;
	font-size: 24px;
}
